# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Build
dist/
.out/
.next/
coverage/

# OS / Editor
.DS_Store
.vscode/
.idea/

# Env
.env
.env.*
!.env.example

# Prisma
prisma/*.db
prisma/migrations/*/migration.sql-journal
